@model ProductDetailViewModel

<div class="container mb-5" style="padding-top:1px">
    <div class=row>
        <div class="col-md-8 offset-2" style="padding-top:50px">
            <div class="card" style="border:solid 2px">
                <div class="card-header fw-bold fs-5">
                    Yorum Ekleme Formu
                </div>
                <div class="card-header fw-bold fs-5">
                    Yorumunuz :
                </div>

                <div class="card-body">

                    <form asp-controller="Home" asp-action="Save" method="post">
                        @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
                        {
                            <div class="alert alert-danger">
                                @ViewBag.ErrorMessage
                            </div>
                        }

                        <input type="hidden" asp-for="Id" />

                        <div class="form-group mb-2">
                            <label asp-for="Name" class="form-label required"></label>
                            <input asp-for="Name" type="text" class="form-control" />
                            <span class="text-danger fw-bold mt-1" asp-validation-for="Name"></span>
                        </div>

                        <div class="form-group mb-2">
                        <label asp-for="Name" class="form-label required"></label>
                        <textarea asp-for="Name" rows="3" type="text" class="form-control" >Puan</textarea>
                        </div>
                        <span class="text-danger fw-bold mt-1" asp-validation-for="Name"></span>

                       <button type="submit" class="btn btn-warning mt-3 float-end">Yorum Ekle</button>
                    </form>

                </div>

            </div>
        </div>
    </div>

</div>

